*,
*::before,
*::after{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%; 
}

.container{
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 1rem;
}

.form-container{
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.task-input{
  border-bottom: 1px solid powderblue;
  margin: 0 0.5rem;
  padding: 0.3rem;
  width: 20rem;
}

.btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-list{
  list-style: none;
  display: flex;
}

.btn-list>li{
  margin: 0.5rem;
}

.task-container{
  margin: 1rem;
}

.btn{
  padding: 0.3rem 0.75rem;
  background: linear-gradient(to right, powderblue, cyan);
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 40%);
  font-weight: 600;
}

.btn:hover{
  cursor: pointer;
  background: hsl(0, 0%, 97%);
  border: 1px solid skyblue;
  color: #0ae;
}

.visibly-hidden{
  visibility: hidden;
}

.task-list{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.task-list li{
  margin: 1rem;
}

li .btn{
  margin: 1rem;
}

.task-list li .todo-task{
  margin: 1rem;
}

.list-btn-container .btn{
  margin: 1rem;
  padding: 0.25rem 2rem;
}

.err-msg{
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  visibility: hidden;
  background: black;
  color: white;
  text-align: center;
  width: auto;
}

.visible{
  visibility: visible;
}

.delete-btn{
  background: linear-gradient(to right, #ff6961, tomato);
}

.form-group-edit{
  margin: 1rem;
}

.strike-through{
  text-decoration: line-through;
}

@media screen and (max-width: 480px) {

  .outer-container{
    font-size: 12px;
  }

  .btn{
    font-size: 0.7rem;
  }

  .btn-container{
    width: 100%;
  }

  .visibly-hidden{
    display: none;
  }

  .form-group{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
  }

  .form-group .btn{
    width: 100%;
  }

  .task-input{
    width: 95%;
    margin-bottom: 0.2rem;
  }

  .task-list li{
    margin: 0.7rem 0;
  }

  .task-container{
    align-self: center;
  }
  
}